<!-- maxbox setting -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet'>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.1/mapbox-gl-language.js'></script>
<%-include ("../partials/header")  -%>
<!-- updated syntax in ejs v3.0.1 -->
<link rel="stylesheet" href="/stylesheets/store-index.css">
<header class="jumbotron">
    <div class="container">
        <div class="row">



            <div class="col-md-9">
                <h1>歡迎來到台灣拉麵俱樂部</h1>
                <p>查看全台各地的拉麵店家！</p>
                <%-include ("../partials/messages")  -%>
                <!-- will pack in res.query -->
                <form action="/stores" method="GET" class="form-inline ">
                    <div class="form-group">
                        <label for="search">搜尋店家：</label>
                        <input type="text" name="search" placeholder="勝王/台北/雞白湯..."
                            class="form-control form-control-sm">
                        <input style="margin-left: 0.1em;" type="submit" value="搜尋" class="btn btn-sm btn-light ">
                    </div>

                </form>


                <!-- 
                <form action="/stores/location" method="GET" class="form-inline " style="display:none">
                    <div class="form-group">
                        <p>給之後找最近店家用的</p>
                        <input type="text" name="lng" placeholder="longitude" class="form-control form-control-sm">
                        <input type="text" name="lat" placeholder="latitude" class="form-control form-control-sm">
                        <input type="text" name="meter" placeholder="meter" class="form-control form-control-sm">
                        <input style="margin-left: 0.1em;" type="submit" value="Search" class="btn nav-link">
                    </div>

                </form> -->

            </div>

            <div class="col-md-3 d-flex align-items-center justify-content-center">
                <%  if (currentUser && currentUser.isAdmin){ %>
                <a class="p-4 btn btn-danger btn-large " href="/stores/new">管理員新增店家</a>
                <%}  %>
            </div>
        </div>
    </div>

</header>

<div id="map" style="margin-top:40px; height:400px; border-radius:10px">
</div>

<div class="container-fluid">
    <div class="row">
        <% stores.forEach((store)=>{ %>
        <div class="col-sm-6 col-lg-4 mt-4 ">

            <div class="card" style="height: 500px;">

                <img id="card-image" class="card-img-top" src="<%= store.imageSmall[0] %>" alt="Card image cap"
                    height="200px" onError="this.onerror=null;this.src='https://i.imgur.com/siJp2jE.png';">

                <a href="/stores?search=<%= store.city  %>">
                    <div class="topleft btn city">
                        <%=store.city %>
                    </div>
                </a>
                <div class="topright">
                    <%-include ("../partials/showrating", {item:store})  -%>
                </div>
                <h5 class="card-header text-center"><%= store.name %></h5>

                <div class="card-body scrollbar-light-blue">
                    <% if(store.descriptionText.length > 200){  %>
                    <p><%- store.descriptionText.substring(0, 200)-%>...</p>
                    <% } else { %>
                    <p><%= store.descriptionText -%></p>
                    <% }  %>
                </div>
                <div class="card-footer text-muted text-right">
                    <a href="/stores/<%= store._id %>" class="btn btn-primary">更多資訊</a>
                </div>

            </div>


        </div>
        <%})  %>
    </div>
    <div class="my-4">
        <%-include ("../partials/pagination")  -%>
    </div>

</div>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script>
<!-- mapbox setting -->
<script>
    /* beautify preserve:start */
    mapboxgl.accessToken = '<%= mapboxAccessToken %>';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
        zoom: 12,
        //longitude 經度, latitude緯度 
        center: [121.5318852, 25.0355206]
    });
    map.addControl(new MapboxLanguage({
        defaultLanguage: 'zh'
    }));
     <% stores.forEach((store) => { %>
        var el = document.createElement('div');
        el.className = 'marker';
        new mapboxgl.Marker(el)
        .setLngLat([ <%= store.location.coordinates[0] %> , <%= store.location.coordinates[1] %> ])
        .setPopup(new mapboxgl.Popup({ offset: 20 }) // add popups
            .setHTML(
            `<h3><%=store.name%></h3>
            <p><%=store.rating%>顆星</p>`
        ))
        .addTo(map);

    <%});%>

    var mapWidth = document.getElementById("map").clientWidth;
    window.addEventListener("resize",()=>{
        mapWidth = document.getElementById("map").clientWidth;
    })
    map.on('drag', function () {
        let zoom = map.getZoom();
        let center = map.getCenter();
        console.log(zoom);
        console.log(center);
        let bound = geoViewport.bounds([center.lng, center.lat], Math.round(zoom), [mapWidth, 400])
        //console.log(mapWidth)
        console.log(bound)
    });
     map.on('zoomend', function () {
            let zoom = map.getZoom();
            let center = map.getCenter();
            console.log(zoom);
            console.log(center)
            let bound = geoViewport.bounds([center.lng, center.lat], Math.round(zoom), [mapWidth, 400])
            console.log(bound)
            fetch(`http://localhost:3000/api/get-store?W=${bound[0]}&S=${bound[1]}&E=${bound[2]}&N=${bound[3]}`, {method: 'GET'})
                .then((response) => {
                    // 這裡會得到一個 ReadableStream 的物件
                    console.log(response);
                    // 可以透過 blob(), json(), text() 轉成可用的資訊
                    return response.json();
                }).then((jsonData) => {
                    console.log(jsonData);
                }).catch((err) => {
                    console.log('錯誤:', err);
                });
            });
    /* beautify preserve:end */
</script>


<script>
    let cities = document.querySelectorAll('.city');
    for (city of cities) {
        if (/台北市|新北市|基隆市/.test(city.innerText)) {
            city.classList.add("TNK");
        } else if (/桃園市|新竹縣|新竹市|苗栗縣/.test(city.innerText)) {
            city.classList.add("TCM");
        } else if (/台中市|彰化縣|南投縣/.test(city.innerText)) {
            city.classList.add("CCT");
        } else if (/雲林縣|嘉義縣|嘉義市|台南市/.test(city.innerText)) {
            city.classList.add("YCN");
        } else if (/高雄市|屏東縣/.test(city.innerText)) {
            city.classList.add("KP");
        } else if (/宜蘭縣|花蓮縣|台東縣/.test(city.innerText)) {
            city.classList.add("YHT");
        } else {
            city.classList.add("PCM");
        }
    }
</script>

<%-include ("../partials/footer") -%>
<!-- updated syntax in ejs v3.0.1 -->