<%-include ("../partials/header")  -%>
<!-- updated syntax in ejs v3.0.1 -->

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to YelpCamp!</h1>
        <p>View our hankpicked Stores from all over the world</p>

        <!-- will pack in res.query -->
        <form action="/stores" method="GET" class="form-inline ">
            <div class="form-group">
                <input type="text" name="search" placeholder="Store search..." class="form-control form-control-sm">
                <input style="margin-left: 0.1em;" type="submit" value="Search" class="btn nav-link">
            </div>

        </form>

        <p>
            <a class="btn btn-primary btn-large" href="/stores/new">Add New Store</a>
        </p>

    </div>
</header>

<div class="row" style="display:flex; flex-wrap: wrap">


    <% stores.forEach((store)=>{ %>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="<%= store.image %>" style="height:180px;width:100%;display: block">
            <div class="caption">
                <h4><%= store.name %> </h4>
            </div>
            <p>
                <a href="/stores/<%= store._id %>" class="btn btn-primary">More Info</a>
                <!-- mongoDB ID -->
            </p>
        </div>

    </div>
    <%});  %>
</div>


<%-include ("../partials/footer") -%>
<!-- updated syntax in ejs v3.0.1 -->