<!-- maxbox setting -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet'>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.1/mapbox-gl-language.js'></script>
<%-include ("../partials/header")  -%>
<!-- updated syntax in ejs v3.0.1 -->
<link rel="stylesheet" href="/stylesheets/store-index.css">


<div id="map" style="margin-top:40px; height:400px; border-radius:10px">
    <form action="/stores" method="GET" class="form-inline " style="position: relative; z-index:1000; margin:15px; ">
        <div class="input-group">
            <input id="searchBar" type="text" name="search" placeholder="勝王/台北/雞白湯..." class="form-control ">
            <input style="margin-left: 0.2em;" type="submit" value="搜尋" class="btn  btn-light ">
        </div>

    </form>
</div>
<div>
    <span id="currentSeen">0</span>
</div>

<div class="container-fluid">
    <div id="cards-container" class="row">
        <!-- 用ajax的方式把cards加進來和刪掉 -->
        <% stores.forEach((store)=>{ %>
        <div class="col-sm-6 col-lg-4 mt-4 ">

            <div class="card" style="height: 500px;">

                <img id="card-image" class="card-img-top" src="<%= store.imageSmall[0] %>" alt="Card image cap" height="200px" onError="this.onerror=null;this.src='https://i.imgur.com/siJp2jE.png';">

                <a href="/stores?search=<%= store.city  %>">
                    <div class="topleft btn city">
                        <%=store.city %>
                    </div>
                </a>
                <div class="topright">
                    <%-include ("../partials/showrating", {item:store})  -%>
                </div>
                <h5 class="card-header text-center"><%= store.name %></h5>

                <div class="card-body scrollbar-light-blue">
                    <% if(store.descriptionText.length > 200){  %>
                    <p><%- store.descriptionText.substring(0, 200)-%>...</p>
                    <% } else { %>
                    <p><%= store.descriptionText -%></p>
                    <% }  %>
                </div>
                <div class="card-footer text-muted text-right">
                    <a href="/stores/<%= store._id %>" class="btn btn-primary">更多資訊</a>
                </div>

            </div>


        </div>
        <%})  %>

    </div>
    <div class="my-4">
        <%-include ("../partials/pagination")  -%>
    </div>

</div>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script>
<!-- mapbox setting -->
<script>
    /* beautify preserve:start */
   function getCoordinates() {
        return new Promise(function(resolve, reject) {
            navigator.geolocation.getCurrentPosition(resolve, reject);
        });
    }


    let [defaultLon, defaultLat] = [121.5178, 25.046];
    async function userLocation(){
        if ("geolocation" in navigator) {
        /* geolocation is available */
            let position = await getCoordinates();
            console.log(position.coords.latitude, position.coords.longitude)
            return [position.coords.longitude, position.coords.latitude ];
        } else {
        /* geolocation IS NOT available */
        return [defaultLon, defaultLat]
        }

    }
    userLocation().then((position)=>{
        map.flyTo({
            center: position,
            essential: true // this animation is considered essential with respect to prefers-reduced-motion
        });
    }).catch(error=>{
        console.log(error)
    })



    mapboxgl.accessToken = '<%= mapboxAccessToken %>';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
        zoom: 16,
        //longitude 經度, latitude緯度 
        center: [defaultLon, defaultLat]
    });
    map.addControl(new MapboxLanguage({
        defaultLanguage: 'zh'
    }))


   /* beautify preserve:end */

    var mapWidth = document.getElementById("map").clientWidth;
    window.addEventListener("resize", () => {
        mapWidth = document.getElementById("map").clientWidth;
    });
    let currentSeen = document.getElementById('currentSeen');

    function getBoundandStoreinSession() {
        let zoom = map.getZoom();
        let center = map.getCenter();
        let bound = geoViewport.bounds([center.lng, center.lat], Math.ceil(zoom), [mapWidth, 400]);
        fetch(
                `http://localhost:3000/api/get-store?W=${bound[0]}&S=${bound[1]}&E=${bound[2]}&N=${bound[3]}`, {
                    method: 'GET'
                })
            .then((response) => {
                // 這裡會得到一個 ReadableStream 的物件
                //console.log(response);
                // 可以透過 blob(), json(), text() 轉成可用的資訊
                return response.json();
            }).then((jsonData) => {
                //console.log(jsonData.foundStore); //array
                //全部存到sessionStorage，之後除了都用的到。
                for (store of jsonData.foundStore) {
                    if (!stores[store._id]) {
                        stores[store._id] = store;
                        sessionStorage.setItem(store._id, JSON.stringify(store));

                        var el = document.createElement('div');
                        el.className = 'marker';
                        new mapboxgl.Marker(el)
                            .setLngLat([store.location.coordinates[0], store.location.coordinates[1]])
                            .setPopup(new mapboxgl.Popup({ offset: 20 }) // add popups
                                .setHTML(
                                    `<h3>${store.name}</h3>
                                    <p>${store.rating}顆星</p>`
                                ))
                            .addTo(map);
                    }

                }
                console.log(Object.keys(stores).length)
                currentSeen.innerText = sessionStorage.length;
            }).catch((err) => {
                console.log('錯誤:', err);
            });
    }
    getBoundandStoreinSession();

    function setMarker(store) {
        var el = document.createElement('div');
        el.className = 'marker';
        new mapboxgl.Marker(el)
            .setLngLat([store.location.coordinates[0], store.location.coordinates[1]])
            .setPopup(new mapboxgl.Popup({ offset: 20 }) // add popups
                .setHTML(
                    `<h3>${store.name}</h3>
                    <p>${store.rating}顆星</p>`
                ))
            .addTo(map);
    }
    //重新進入頁面，如果sessionStorage裡面有東西就render他
    if (sessionStorage && sessionStorage.length > 0) {
        Object.keys(sessionStorage).forEach(function(key) {
            let store = JSON.parse(sessionStorage.getItem(key));
            setMarker(store);
        });

    }
    map.on('dragend', function() {
        getBoundandStoreinSession()
    });
    var stores = {};
    map.on('zoomend', async function() {
        getBoundandStoreinSession()
    });
</script>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const searchBar = document.getElementById('searchBar');
    const searchQuery = urlParams.get('search');
    if (searchQuery) {
        searchBar.value = searchQuery;
    }
</script>
<script>
    let cities = document.querySelectorAll('.city');
    for (city of cities) {
        if (/台北市|新北市|基隆市/.test(city.innerText)) {
            city.classList.add("TNK");
        } else if (/桃園市|新竹縣|新竹市|苗栗縣/.test(city.innerText)) {
            city.classList.add("TCM");
        } else if (/台中市|彰化縣|南投縣/.test(city.innerText)) {
            city.classList.add("CCT");
        } else if (/雲林縣|嘉義縣|嘉義市|台南市/.test(city.innerText)) {
            city.classList.add("YCN");
        } else if (/高雄市|屏東縣/.test(city.innerText)) {
            city.classList.add("KP");
        } else if (/宜蘭縣|花蓮縣|台東縣/.test(city.innerText)) {
            city.classList.add("YHT");
        } else {
            city.classList.add("PCM");
        }
    }
</script>

<%-include ("../partials/footer") -%>
<!-- updated syntax in ejs v3.0.1 -->