<%-include ("../partials/header")  -%>
<!-- updated syntax in ejs v3.0.1 -->

<!-- maxbox setting -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />


<div class="row">
    <div class="col-md-3">
        <p class="lead">Yelp Camp</p>
        <div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </div>
        <div id="map" style="margin-top:40px; height:400px; border-radius:10px">
        </div>
        <p>location: <%= store.location.coordinates[0] %>, <%= store.location.coordinates[1] %> </p>
    </div>
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" src="<%= store.image %>">
            <div class="caption-full">
                <h4 class="float-sm-right">$<%= store.price %>/night</h4>
                <h4><a href=""><%=store.name %></a></h4>
                <p><%=store.description %> </p>
                <p>
                    <em>Submitted by: <%= store.author.username %>, <%= moment(store.createdAt).fromNow() %></em>
                </p>
                <%  if (currentUser && store.author.id.equals(currentUser._id)) { %>
                <a class="btn btn-xs btn-warning" href="/stores/<%=store._id  %>/edit ">Edit</a>
                <form class="delete-form" action="/stores/<%=store._id  %>?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
        <div class="well">
            <%  if (currentUser){%>
            <div class="text-right">
                <a class="btn btn-success" href="/stores/<%= store._id %>/comments/new">Add New
                    Comment
                </a>
            </div>
            <% } %>
            <hr>
            <% store.comments.forEach(function(comment){ %>
            <div class="row">
                <div class="col-md-12">
                    <strong><%= comment.author.username  %></strong>
                    <span class="float-sm-right"><%= moment(comment.createdAt).fromNow() %></span>
                    <p class="mt-2">
                        <%= comment.text  %>
                    </p>
                    <%  if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                    <a href="/stores/<%= store._id  %>/comments/<%=comment._id  %>/edit  " class="btn btn-xs btn-warning">
                        Edit
                    </a>
                    <form class="delete-form" action="/stores/<%= store._id  %>/comments/<%=comment._id  %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                    <% } %>
                    <hr class="mt-2">
                </div>

            </div>

            <%  })  %>
        </div>

    </div>
</div>

<!-- mapbox setting -->
<script>
    /* beautify preserve:start */
    mapboxgl.accessToken = '<%= mapboxAccessToken %>';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 15,
        //longitude 經度, latitude緯度 
        center: [ <%= store.location.coordinates[0] %> , <%= store.location.coordinates[1] %> ]

    });

    var marker = new mapboxgl.Marker()
        .setLngLat([<%= store.location.coordinates[0] %> , <%= store.location.coordinates[1] %>])
        .addTo(map);
    /* beautify preserve:end */
</script>

<%-include ("../partials/footer") -%>
<!-- updated syntax in ejs v3.0.1 -->