<%- include ("../partials/header") -%>
<link rel="stylesheet" href="/stylesheets/store-index.css">
<link rel="stylesheet" href="/stylesheets/rating-new.css">

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Change Review</h1>
        <div style="width: 100%; margin: 25px auto;">
            <form action="/stores/<%= store._id %>/reviews/<%= review._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="rating">Leave a rating:</label>
                    <fieldset class="starability-basic form-group" id="rating">
                        <div>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" <% if (review.rating === 5) { %> checked <% } %> />
                            <label for="first-rate5" title="5 stars - Amazing">
                                <%- '<span class="fa fa-star checked"></span>'.repeat(5) %>
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" <% if (review.rating === 4) { %> checked <% } %> />
                            <label for="first-rate4" title="4 stars - Very good">
                                <%- '<span class="fa fa-star checked"></span>'.repeat(4) %>
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" <% if (review.rating === 3) { %> checked <% } %> />
                            <label for="first-rate3" title="3 stars - Average">
                                <%- '<span class="fa fa-star checked"></span>'.repeat(3) %>
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" <% if (review.rating === 2) { %> checked <% } %> />
                            <label for="first-rate2" title="2 stars - Not good">
                                <%- '<span class="fa fa-star checked"></span>'.repeat(2) %>
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" <% if (review.rating === 1) { %> checked <% } %> />
                            <label for="first-rate1" title="1 star - Terrible">
                                <%- '<span class="fa fa-star checked"></span>'.repeat(1) %>
                            </label>
                        </div>

                    </fieldset>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="review[text]" placeholder="Write a review for this review..." rows="5"><%= review.text %></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block">Submit a Review</button>
                </div>
            </form>
            <a href="/stores/<%=store._id %>">Go Back</a>


            <div style="width: 100%; margin: 25px auto;">
                <h5 style="text-align: center">New Review: <%= store.name %></h5>
                <form action="/stores/<%=store._id %>/reviews/<%= review._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label for="rating">Leave a rating: <span class="show-result"></span></label>

                        <input id="rating" name="review[rating]" type="hidden" value="">
                        <div class="rating">
                            <i class="star fa fa-star" data-rating="5" style='order:5'></i>
                            <i class="star fa fa-star" data-rating="4" style='order:4'></i>
                            <i class="star fa fa-star" data-rating="3" style='order:3'></i>
                            <i class="star fa fa-star" data-rating="2" style='order:2'></i>
                            <i class="star fa fa-star" data-rating="1" style='order:1'></i>
                        </div>
                        <div class="show-result">No stars selected yet.</div>

                    </div>
                    <div class="form-group">
                        <textarea id="review" class="form-control" type="text" name="review[text]" placeholder="Write a review for this store..." rows="5"><%= review.text %></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">發佈</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    $('.rating').on('click', '.star', function() {
        //cancel rating
        if ($(this).index() === 5 - $('#rating').val()) {
            $('.star').each(function(index) {
                $(this).removeClass('selected');
                $('#rating').val(0);
                $('.show-result').text("No stars selected yet.");
            });
        } else {
            let point = $(this).index();
            $('.star').each(function(index) {
                return index >= point ? $(this).addClass('selected') : $(this).removeClass('selected'); //A
            });
            $('#rating').val($(this).data('rating'));
            console.log($('#rating').val());
            var numStars = $('#rating').val();
            $('.show-result').text(numStars + (numStars == 1 ? " star" : " 顆星！"));
        }

    });
</script>
<%-include ("../partials/footer") -%>