<link rel="stylesheet" href="/stylesheets/review-grid.css">

<% if(store.reviews.length <1){ %>
<p>尚無評論/食記，快來上傳第一篇吧！</p>
<% } %>
<% store.reviews.slice(0, 5).forEach(function(review){ %>
<div class="row" id="<%= review._id %>">
    <!-- 作者 -->
    <div class="grid-container">
        <div class="avatar">
            <img class="img-responsive" src="<%= review.author.avatar %> " alt="" style="border-radius: 50%;">
        </div>
        <div class="userName">
            <h5><strong><%= review.author.username %></strong></h5>
        </div>
        <div class="userRating">
            <%-include ("./showrating",{rating:review.rating})  -%>
            <span><%= moment(review.updatedAt).fromNow() %></span>
        </div>

        <div class="functionBtn">
            <div class="btn-group dropleft">
                <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                <button type="button" class="btn btn-light " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu">

                    <a class="dropdown-item" href="/stores/<%=store._id %>/reviews/<%=review._id %>/edit">
                        編輯
                    </a>
                    <button id="delete-btn" data-id="<%= review._id %>" type="button" class="dropdown-item" data-toggle="modal" data-target="#deleteReviewModal">
                        刪除
                    </button>

                </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="mt-4 review-content">
        <%= review.text %>
    </div>
</div>



<hr>
<% }); %>
<% if(store.reviews.length >5){ %>
<div style="margin-bottom: 10px;">
    <h4><a href="/stores/<%= store._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> 查看全部評論</a></h4>
</div>
<% } %>



<%-include ("../partials/newReviewModal") -%>

<!-- 刪除評論 modal -->
<div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog" aria-labelledby="deleteReviewModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteReviewModalTitle">刪除評論 </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>即將刪除：</h5>
                <p style="text-align: justify; word-wrap: break-word;" id="deleted-review"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <form id="delete-form" action="/stores/<%=store._id %>/reviews/review_id?_method=DELETE" method="POST">
                    <input type="submit" value="刪除" class="btn btn-danger" id="delete-review-input">
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    let deletedReview = document.getElementById('deleted-review');
    let deleteBtn = document.getElementById('delete-btn');
    let deleteForm = document.getElementById('delete-form');

    $('#deleteReviewModal').on('show.bs.modal', () => {

        deleteForm.action = deleteForm.action.replace('review_id', deleteBtn.getAttribute("data-id"));
        let reviewContent = document.querySelector('[id=\"' + deleteBtn.getAttribute("data-id") + '\"] > div.review-content');
        deletedReview.innerHTML = reviewContent.innerHTML;

    })

    $('#deleteReviewModal').on('hidden.bs.modal', () => {
        deleteForm.action = "/stores/<%=store._id %>/reviews/review_id?_method=DELETE";
        deletedReview.innerHTML = "";
    })


</script>